.introduct{
    min-height: 650px;
    background-image: url("../img/introduct/bg.png");
    background-size: cover;
    background-position: center;
}

.header{
    padding-top: 18px;
    display: flex;
    justify-content: space-between;

    &__logo{
        max-width: 251px;

        &__img{
            width: 100%;
        }
    }
}
